<!DOCTYPE html>
{% load static i18n %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{app_label}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{{app_url}}">Open {{app_label}}</a>
          {% if show_debug_tools %}
            <a class="navbar-item" href="{%url 'admin:index'%}">Admin page</a>
          {% endif %}
          {% if changelog.open_api_ui and show_debug_tools %}
            <a class="navbar-item" href="{{changelog.open_api_ui}}">Open OpenApi</a>
          {% endif %}
        </div>
        {% if show_debug_tools %}
          <div class="navbar-end">
            <div class="navbar-item tags are-medium are-rounded">
              <a href="{{argo_cd_url}}applications/{{argo_cd_app}}">
                <figure class="tag is-dark">
                  <img src="{{argo_cd_url}}api/badge?name={{argo_cd_app}}&revision=true">
                </figure>
              </a>
              <span class="tag is-primary">{{env|capfirst}} environment</span>
              <span class="tag is-info">App Version {{version}}</span>
              <span class="tag is-info">Python {{python_version}}</span>
              <span class="tag is-info">Django {{django_version}}</span>
            </div>
          </div>
        {% endif %}
      </div>
    </nav>
    {% block content %}
    {% endblock content %}
    {% block extra_js %}
    {% endblock extra_js %}
  </body>
</html>
